/* .loader {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(45deg);
   width: 100px;
   height: 100px;
   animation: animate 0.3s linear infinite;
}

.loader span {
   position: absolute;
   width: 50px;
   height: 50px;
   background-color: #f00;
   animation: rotate 0.3s linear infinite;
}

.loader span:nth-child(1) {
   top: 0;
   left: 0;
   background-color: #f79f1f;
}

.loader span:nth-child(2) {
   top: 0;
   right: 0;
   background-color: #12cbc4;
}

.loader span:nth-child(3) {
   bottom: 0;
   left: 0;
   background-color: #ed4c67;
}

.loader span:nth-child(4) {
   bottom: 0;
   right: 0;
   background-color: #a3cb38;
}

@keyframes animate {
   0% {
      width: 100px;
      height: 100px;

   }

   10% {
      width: 100px;
      height: 100px;
      
   }

   50% {
      width: 150px;
      height: 150px;
      
   }

   90% {
      width: 100px;
      height: 100px;
      
   }

   100% {
      width: 100px;
      height: 100px;
      
   }
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);

   }

   10% {
      transform: rotate(0deg);
   }

   60% {
      transform: rotate(90deg);
   }

   90% {
      transform: rotate(90deg);
   }

   100% {
      transform: rotate(90deg);
   }
} */

.loader {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
}

.loader li {
   list-style: none;
   width: 40px;
   height: 40px;
   background-color: #fff;
   border-radius: 50%;
   animation: animate 1.4s ease-in-out infinite;
}

@keyframes animate {
   0%, 40%, 100% {
      transform: scale(0.4);
   }
   20% {
      transform: scale(1);
   }
}

.loader li:nth-child(1) {
   animation-delay: -1.4s;
   background-color: #ffff00;
   box-shadow: 0 0 50px #ffff00;
}

.loader li:nth-child(2) {
   animation-delay: -1.2s;
   background-color: #76ff03;
   box-shadow: 0 0 50px #76ff03;
}

.loader li:nth-child(3) {
   animation-delay: -1s;
   background-color: #f06292;
   box-shadow: 0 0 50px #f06292;
}

.loader li:nth-child(4) {
   animation-delay: -0.8s;
   background-color: #4fc3f7;
   box-shadow: 0 0 50px #4fc3f7;
}

.loader li:nth-child(5) {
   animation-delay: -0.6s;
   background-color: #ba68c8;
   box-shadow: 0 0 50px #ba68c8;
}

.loader li:nth-child(6) {
   animation-delay: -0.4s;
   background-color: #f57c00;
   box-shadow: 0 0 50px #f57c00;
}